.Home{
    height: 550px;
}

.cell{
    display: inline;
    border: 1px solid black;
    padding-left: 15.5%;
    padding-right: 15.5%;
}

div a{
    text-decoration: none;
}

a:link{
    color: black;
}
